# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Toggle Finance'
      'command': 'finance:toggle'
    },
    {
      'label': 'Refresh Finance'
      'command': 'finance:refresh'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'Finance'
      'submenu': [
        {
          'label': 'Toggle'
          'command': 'finance:toggle'
        },
        {
          'label': 'Refresh'
          'command': 'finance:refresh'
        }
      ]
    ]
  }
]
